@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<p>
    <h3>Сбор информации</h3>
    <br>
    <div>
        При регистрации на сайте студенты предоставляют следующие сведения: имя, фамилию, отчество, e-mail
    </div>
    <div>
    Администрация получает данные об IP-адресе посетителей, а также о типе браузера, времени нахождения на сайте. 
    Сбор ведётся с помощью сервисов статистики.
    </div>
    <br><br>
    <h3>Использование информации</h3>
    <br>
    <div>
     Вся полученная информация используется администрацией сайта исключительно в целях связи со студентом 
     и учета его успеваемости.
    </div>
    <br>
    <br>
    <h3>Защита персональных данных</h3>
    <br>
    <div>
    Администрация сайта обязуется не разглашать сведения, полученные от зарегистрировавшихся студентов. 
    Она хранится в базе данных на локальном компьютере администрации. 
    Доступ к компьютеру надёжно защищён паролем, который имеется только у администратора сайта.
    </div>
    <br><br>
    <h3>Предоставление данных третьим лицам</h3>
    <br>
    <div>
        Полученные сведения не могут быть переданы третьим лицам, за исключением следующих случаев:
    </div>
    <div>
     1. Для исполнения обязательств перед клиентом – только с его разрешения.
    </div>
    <div>
     2. В соответствии с обоснованными и применимыми требованиями закона.
    </div>
    <br><br>
    <h3>Контакты</h3>
    <div>
    По всем вопросам вы можете обращаться к администрации сайта.
    </div>
    <div>
    — Телефон: 8 (123) 45-67-89
    </div>
    <div>
    — E-mail: admin@pochta.ru
    </div>
</p>
