@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

    <p>Все роли этого пользователя</p>
    @foreach (var c in @ViewBag.rol) 
    {
        <li>@c</li>
    }
</main>