@page
@model ITMO.Course.ASPNet.FinalTask.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Студент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label">Фамилия</label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label">Имя</label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.MiddleName" class="control-label">Отчество</label>
                <input asp-for="Student.MiddleName" class="form-control" />
                <span asp-validation-for="Student.MiddleName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label">Email</label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group" margin = "5">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">К списку студентов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
