@page  
@model IndexModel


<h3>Стартовая страница</h3>
@*// @{
   // @if (Model.IsCorrect) 
    // Директива @page указывает, что это страница Razor
    // Директива @model - в данном случае это класс привязанного к странице кода IndexModel
    // С помощью директивы @model устанавливается модель страницы. Поэтому через
    // свойство Model можно обращаться к модели страницы, в том числе к ее свойствам
   // {
     //   <p>Name: <b>@Model.Product.Name</b></p>
        <p>Price: <b>@Model.Product.Price</b></p>
    }
    else
    {
        <p>Переданы некорректные данные</p>    
    }
}*@

